body {
  margin: 0
}

div#_165_988_Login_page_unique_f1941a4e9f364b6184207b5750886701 {
  
                position: absolute;
                overflow: hidden;
                background: rgba(255, 255, 255, 1);
                height: 100vh;

                width: 100%;
                overflow-y: scroll;

            
}

span#Welcome_to_AE_Hub_by__AROC_Technologies_unique_457e3a1eaf464342b4ec918beba694f7 {
  
                    background-image: linear-gradient(
                        90deg,
                        rgba(65, 189, 240, 1) 0%,
                        rgba(177, 88, 154, 1) 100%
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    text-fill-color: transparent;
                    -webkit-text-fill-color: transparent;
                    font-family: Sen;
                    font-size: 25px;
                    font-weight: 700;
                    text-align: left;
                    height: 5.86%;
                    width: 19.72%;
                    position: absolute;
                    left: calc(100% * 0.3472222222222222);
                    top: calc(100% * 0.09765625);
                
}

div#_163_617_Form_Shipping_unique_6d81e3ee5e324805988853c97684e19f {
  
                    position: absolute;
                    background: rgba(255, 255, 255, 1);
                    border-color: #d9d9d9ff;
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 8px;
                    height: 208px;
                    width: 369px;
                    left: 510px;
                    top: 210px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    gap: 24px;
                    padding: 24px 24px 24px 24px;
                
}

div#I163_617_197_23151_Legend_unique_463e4cd8b01649a9b8bd410394ad3b08 {
  
                        position: relative;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                        gap: 4px;
                    
}

span#Shipping_information_unique_439b7fd69bce4488be13aac0dbefe449 {
  
                            color: #1e1e1eff;
                            font-family: Inter;
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 120%;
                            letter-spacing: -2%;
                            text-align: left;
                            height: 29px;
                            width: 371px;
                            position: relative;
                        
}

div#I163_617_197_23060_Select_Field_unique_a4a024346cb741e094ac600f7186a4de {
  
                        position: relative;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                        gap: 8px;
                    
}

div#_163_620_Rectangle_3_unique_09de0277c73348028d9ddfea7f036245 {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 43px;
                    width: 272px;
                    left: 533px;
                    top: 407px;
                
}

img#_163_621_unique_384950491b9a46e4becd786f68500890 {
  position: absolute; left: 784px; top: 428.5px
}

span#Login_to_AE_Hub_unique_4ac07fbb39604531b818c7abd94717bf {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 20px;
                    font-weight: 700;
                    text-align: left;
                    height: 24px;
                    width: 160px;
                    position: absolute;
                    left: 545px;
                    top: 416px;
                
}

img#_165_9_unique_1f0d2984da4b46ff91f8d1ea09504ce7 {
  
                    position: absolute;
                    left: calc(100% * 0.06666666666666667);
                    top: calc(100% * 0.1064453125);
                
}

img#_165_9_unique_0386d06f000b4af4a4baf5b52dae9740 {
  
                    position: absolute;
                    left: calc(100% * 0.16481906043158637);
                    top: calc(100% * 0.10799504606984556);
                
}

img#_165_9_unique_bf4cda2cc65149d39205dd3a8b4a81c5 {
  
                    position: absolute;
                    left: calc(100% * 0.11971873177422418);
                    top: calc(100% * 0.1064453125);
                
}

img#_165_9_unique_06071314ec5443ebade2b41e14ff273a {
  
                    position: absolute;
                    left: calc(100% * 0.11971873177422418);
                    top: calc(100% * 0.1064453125);
                
}

img#_165__unique_9d476d2847244ee6b21eb90eff302a38 {
  
                    position: absolute;
                    left: calc(100% * 0.12076882339186139);
                    top: calc(100% * 0.10798083303961903);
                
}

img#_165__unique_4102e3c19a744498beb37ce515d043ff {
  
                    position: absolute;
                    left: calc(100% * 0.16369753943549262);
                    top: calc(100% * 0.1064453125);
                
}

img#_165_9_unique_33c542fc333f4c768ab1f8364ead1f75 {
  
                    position: absolute;
                    left: calc(100% * 0.06935804941587978);
                    top: calc(100% * 0.10799505891190986);
                
}

img#_165__unique_39c4f8ea937b48b8a995f90d3d74d401 {
  
                    position: absolute;
                    left: calc(100% * 0.06839967022339503);
                    top: calc(100% * 0.10799504606984556);
                
}

img#_165_9_unique_fe14528d08f84267bf8f442fea1d7ae3 {
  
                    position: absolute;
                    left: calc(100% * 0.06886857793562942);
                    top: calc(100% * 0.14166585146449506);
                
}

img#_165_9_unique_3da55fe0422b46879ff5ec9ed68f0d7e {
  
                    position: absolute;
                    left: calc(100% * 0.10763825823863347);
                    top: calc(100% * 0.14344096346758306);
                
}

img#_165_9_unique_025ac248c9ce49e1b3ea4b2ca42d57cd {
  
                    position: absolute;
                    left: calc(100% * 0.09460950940847397);
                    top: calc(100% * 0.10799505891190986);
                
}

img#_165_9_unique_ba6ce9df84c747aaabfd6c726de4c7e4 {
  
                    position: absolute;
                    left: calc(100% * 0.06916421006123225);
                    top: calc(100% * 0.10799505891190986);
                
}

img#_165_9_unique_69589209ca5245c88c33ba56b8c0389d {
  
                    position: absolute;
                    left: calc(100% * 0.0845273334119055);
                    top: calc(100% * 0.13031061342917383);
                
}

img#_165_9_unique_0b312c2bb8264f579355f18c637e18ca {
  
                    position: absolute;
                    left: calc(100% * 0.0845273334119055);
                    top: calc(100% * 0.13122634193859994);
                
}

img#_165__unique_e031495201284e9bb5feca77bb74ccac {
  
                    position: absolute;
                    left: calc(100% * 0.21079617606268988);
                    top: calc(100% * 0.1064453125);
                
}

div#_165_985_Rectangle_4_unique_9f7e195baf034f5d88b2d2e9c8f9a0f7 {
  
                    position: absolute;
                    background: rgba(217, 217, 217, 1);
                    height: 38px;
                    width: 374px;
                    left: 533px;
                    top: 281px;
                
}

div#_165_986_Rectangle_5_unique_e2d2d49517c04960ae22480f644b45a8 {
  
                    position: absolute;
                    background: rgba(217, 217, 217, 1);
                    height: 38px;
                    width: 374px;
                    left: 533px;
                    top: 339px;
                
}

